html{
    scroll-behavior: smooth;
}

.centertext{
    text-align: center;
}

#home .carousel-inner .carousel-item h5, #home .carousel-inner .carousel-item h3{
    text-shadow: 0 0 30px rgba(0, 0, 0, 2);
    color: #fafffb;
}

.judul{
    text-align: center;
    padding-top: 38px;
    color: #575757;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.judulb{
    text-align: center;
    color: #575757;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.judul-putih{
    text-align: center;
    padding-top: 38px;
    color: #fafffb;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.judul-putihb{
    color: #fafffb;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    font-weight: lighter;
}

.text-shad-put{
    text-align: center;
    color: #fafffb;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

#carouselExampleCaptions .carousel-inner {
    height: 100vh;
    padding-top: 55px;
}

.carousel-item{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carouselimg1{
    background-image: url(../img/slider/igor-miske-JVSgcV8_vb4-unsplash.png);
}

.carouselimg2{
    background-image: url(../img/portfolio/6.png);
}

.carouselimg3{
    background-image: url(../img/boot/jumbotron-bg.jpg);
}

.carousel-caption h3{
    text-transform: uppercase;
}

.carousel-caption h5{
    text-transform: capitalize;
}

.carousel-indicators{
    margin-bottom: 20px;
}

.carousel-control-prev, .carousel-control-next{
    background-color: transparent; 
    border: none;
}

.carousel-control-prev span, .carousel-control-next span{
    text-shadow: 0 0 30px rgba(0, 0, 0, 1);
    color: #fafffb;
}

#services{
    padding-top: 20px;
    padding-bottom: 40px;
}

.mycard{
    width: 100%;
    border: #b6b6b6 1px solid;
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 7px;
    margin-top: 18px;
    flex-wrap: nowrap;
}

.card1{
    background-image: url(../img/slider/amr-taha-cgv5LkiBZ78-unsplash.jpg);
}

.card2{
    background-image: url(../img/slider/igor-miske-JVSgcV8_vb4-unsplash.png);
}

.card3{
    background-image: url(../img/slider/soundtrap-r4WnfCSyhxM-unsplash3.png);
}

.card4{
    background-image: url(../img/slider/florian-olivo-Mf23RF8xArY-unsplash2.png);
}

.gambarcard{
    min-width: 190px;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.contentcard{
    padding: 10px 10px 10px 15px;
    text-align: justify;
}

.judulcard{
    text-align: center;
}

#team{
    position: relative;
    height: 95vh;
}

#team::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(../img/portfolio/5.png);
    filter: grayscale(90%);
    z-index: -1;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralaxjudul {
    position: relative;
}

.hitam-lapis{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
}

.teamimg{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px 0 15px;
}

.teamimgcont{
    width: 210px;
    height: 210px;
    margin: 15px 3px 15px 3px;
    box-sizing: border-box;
}

.teamimg img{
    filter: grayscale(0.9);
    border-radius: 100%;
    max-width: 200px;
    transition: width 50s;
    box-shadow: 0 0 8px rgba(0, 0, 0, .9);
}

.teamimg img:hover{
    max-width: 210px;
    width: 210px;
}

.butcust1{
    border: 2px #28a746 solid ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); 
    margin-top: 20px;
}

#galery{
    background-color: #fafafa;
}

.galeryimg{
    margin-bottom: 30px;
}

#contact{
    background-color: #353536;
}


.contactlang{
    width: 100%;
    overflow: hidden;
}

.contactform{
    width: 100%;
    height: 100%;
}

.inputan{
    width: 100%;
    height: 55px;
    position: relative;
    margin-top: 15px;
}

.contactform form  input{
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    outline: none;
    color: #fafffb;
    background-color: transparent;
}

.labelform{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px #fafffb solid;
}

.labelform span{
    position: absolute;
    bottom: 5px;
    left: 5px;
    pointer-events: none;
    color: #fafffb;
    transition: all 0.4s ease;
}

.labelform::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 2px seagreen solid;
    bottom: -1px;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.4s ease;
}

.contactform form .inputano input:focus + .labelform span, 
.contactform form .inputanaakt input:valid + .labelform span{
   bottom: 53%;
   font-size: 14px;
   color: seagreen;
}
 
.contactform form .inputanaakt input:invalid + .labelform span{
    bottom: 53%;
    font-size: 14px;
    color: #a33b3b;
 }
 
 .contactform form .inputanaakt input:invalid{
    color: #a33b3b;
 }

.contactform form input:focus + .labelform::after, 
.contactform form input:valid + .labelform::after{
   transform: translateX(0%);
}

.contactform form .inputanaakt input:invalid + .labelform::after{
    transform: translateX(0%);
    border-bottom: 2px #a33b3b solid;
 }

 .social-media{
     width: 100%;
     background-color: #fafffb;
     /* background-color: seagreen; */
     border-radius: 5px;
     height: 100%;
     overflow: hidden;
 }

 .gambsosmed{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: #28a746; */
    justify-content: center;
 }

 .social-media img{
    width: 80px;
    margin: 1px 7px 7px 7px;
    border-radius: 5px;
}