.centertext{
    text-align: center;
}

header{
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

#navbarTogglerDemo02 a{
    color:white;
}

header .carousel-inner .carousel-item{
    height: 92vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mycarol{
    padding-top: 55px;
}

.carouselimg1{
    background-image: url(../img/slider/igor-miske-JVSgcV8_vb4-unsplash.png);
}

.carouselimg2{
    background-image: url(../img/slider/charles-deluvio-GXNo-OJynTQ-unsplash.jpg);
}

.carouselimg3{
    background-image: url(../img/portfolio/6.png);
}

.carousel-caption h3{
    text-transform: uppercase;
}

.carousel-caption h5{
    text-transform: capitalize;
}

.carousel-indicators{
    margin-bottom: 20px;
}

.carousel-control-prev, .carousel-control-next{
    background-color: transparent; 
    border: none;
}

.carousel-control-prev span, .carousel-control-next span{
    text-shadow: 0 0 30px rgba(0, 0, 0, 1);
    color: #fafffb;
}

header .carousel-inner .carousel-item h5, header .carousel-inner .carousel-item h3{
    text-shadow: 0 0 30px rgba(0, 0, 0, 2);
    color: #fafffb;
}

.judul{
    text-align: center;
    padding-top: 38px;
    color: #575757;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.judul-putih{
    text-align: center;
    padding-top: 38px;
    color: #fafffb;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.text-shad-put{
    text-align: center;
    color: #fafffb;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}




@media screen and (max-width: 768px){
    .carousel-control-prev, .carousel-control-next{
        display: none;
    }

}